<table class="table table-striped table-bordered" data-sortable="true" data-toggle="table" data-filter-control="true">
  <thead>
    <tr>
      <th scope="col" class="col-md-2">Picture</th>
      <th scope="col" data-sortable="true" data-field="name" data-filter-control="input" class="col-md-2">Name</th>
      <th scope="col" data-sortable="true" data-field="items" class="col-md-1">Items</th>
      <th scope="col" data-sortable="true" data-field="type" class="col-md-2">Types</th>
      <th scope="col" class="col-md-1"></th>
    </tr>
  </thead>
  <% @collections.each do |collection| %>
    <tr>
      <td><img src="<%= collection.image_url %>" width="300"/></td>
      <td class="small"><%= collection.name %></td>
      <td><%= collection.item_count %></td>
      <td class="small">
        <% collection.by_type.map do |type, qty| %>
          <%= "#{type}: #{qty}"%><br />
        <% end %>
      </td>
      <td>
        <a class="icon-link" href="/collections/<%= collection.id %>">View</a>
        <a class="icon-link" target="_blank" href="<%= collection.url %>">BrickOwl</a>
      </td>
    </tr>
  <% end %>
</div>

