<table class="table table-striped table-bordered" data-sortable="true" data-toggle="table" data-filter-control="true">
  <thead>
    <tr>
      <th scope="col" data-sortable="true" data-field="type" data-filter-control="select" class="col-md-1 text-center">Type</th>
      <th scope="col" data-sortable="true" data-field="wishlist" data-filter-control="input" class="col-md-2">Wishlist</th>
      <th scope="col" data-sortable="true" data-field="items" data-filter-control="select" class="col-md-1 text-center">Items</th>
      <th scope="col" data-sortable="true" data-field="ordered" data-filter-control="select" class="col-md-1 text-center">Ordered</th>
      <th scope="col" data-sortable="true" data-field="remaining" data-filter-control="select" class="col-md-1 text-center">Remaining</th>
    </tr>
  </thead>
  <% @dashboard.map do |line| %>
    <tr>
      <td><%= line[0].type %></td>
      <td><a href="/wishlists/<%=line[0].id%>"><%= line[0].name %></a></td>
      <td class="text-center <%= text_class(line[1]) %>"><%= line[1] %></td>
      <td class="text-center"><%= line[2] %></td>
      <td class="text-center <%= text_class(line[1] - line[2]) %>"><%= line[1] - line[2] %></td>
    </tr>
  <% end %>
</div>
