<table class="table table-striped table-bordered" data-sortable="true" data-toggle="table" data-filter-control="true">
  <thead>
    <tr>
      <th scope="col" class="col-md-2">Picture</th>
      <th scope="col" data-sortable="true" data-field="type" data-filter-control="select" class="col-md-1">Type</th>
      <th scope="col" data-sortable="true" data-field="name" data-filter-control="input" class="col-md-2">Name</th>
      <th scope="col" data-sortable="true" data-field="items" class="col-md-1">Items</th>
      <th scope="col" data-sortable="true" data-field="item_type" class="col-md-2">Item Types</th>
      <th scope="col" class="col-md-1"></th>
    </tr>
  </thead>
  <% @wishlists.each do |wishlist| %>
    <tr>
      <td><img src="<%= wishlist.image_url %>" width="300"/></td>
      <td class="small"><%= wishlist.type %></td>
      <td class="small"><%= wishlist.name %></td>
      <td><%= wishlist.item_count %></td>
      <td class="small">
        <% wishlist.by_type.map do |type, qty| %>
          <%= "#{type}: #{qty}"%><br />
        <% end %>
      </td>
      <td>
        <a class="icon-link" href="/wishlists/<%= wishlist.id %>">View</a>
        <a class="icon-link" target="_blank" href="<%= wishlist.url %>">BrickOwl</a>
      </td>
    </tr>
  <% end %>
</div>
